<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @*
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    *@
    @Styles.Render("~/Content/common")
</head>
<body>
    <header>
        <div class="logo">
            <img src="~/images/logo.jpg"/>
        </div>
        <h1 class="title">@ViewBag.Title</h1>
        <a href="#" class="menu_btn"></a>
        <div class="menu_box">
            <ul class="menu">
                <li><a href="~/">首頁</a></li>
                <li><a href="#">熱賣商品</a></li>
                <li><a href="#">最新商品</a></li>
                <li><a href="#">優惠商品</a></li>
            </ul>
            <ul class="admin">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </header>
    @RenderBody()
    <footer>
        <ul>
            <li><a href="~/contact">聯絡我們</a></li>
            <li><a href="~/about">關於我們</a></li>
            <li><a href="#">使用教學</a></li>
            <li><a href="#">常見問題</a></li>
            <li><a href="#">使用條款</a></li>
        </ul>
        <div class="copyright">
            EasyBuy company 2018 version 1.0 
        </div>
    </footer>
    @*
        
        @Html.Partial("_LoginPartial")
    *@
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    
    @Scripts.Render("~/bundles/common")
</body>
</html>
