<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @*
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    *@
    @Styles.Render("~/Content/common")
</head>
<body>
    <header>
        <div class="logo"></div>
        <h1 class="title">@ViewBag.Title</h1>
        <a href="#" class="menu_btn"></a>
        <div class="menu_box">
            <ul class="menu">
                <li>首頁</li>
                <li>熱賣商品</li>
                <li>最新商品</li>
                <li>優惠商品</li>
            </ul>
            <ul class="admin">
                <li>登入</li>
                <li>Samuel Lin</li>
            </ul>
        </div>
    </header>
    @RenderBody()
    <footer>
        <ul>
            <li>聯絡我們</li>
            <li>關於我們</li>
            <li>使用教學</li>
            <li>常見問題</li>
            <li>使用條款</li>
        </ul>
        <div class="copyright">
            EasyBuy company 2018 version 1.0 
        </div>
    </footer>
    @*
        
        @Html.Partial("_LoginPartial")
    *@
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
</body>
</html>
